<div>
	<label>
		Name:
		<input type="text" [formControl]="name">
	</label>

	<button (click)="onUpdateName()">Update Name</button>
</div>


<div class="f mt-30">
	<form #profileInfo [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="f f--c">

		<label class=" f f--c">
			First Name:
			<input type="text" formControlName="firstName">

			<div *ngIf="!isControlValid('firstName', 'firstLetterCaps')">
				<app-notification [type]="'error'" [message]="'Must start with an uppercase'"></app-notification>
			</div>

		</label>

		<label class="f f--c">
			Last Name:
			<input type="text" formControlName="lastName">
		</label>

		<label class="f f--c">
			Pin Code:
			<input type="text" formControlName="pinCode">
		</label>

		<div class="f f--r">
			<button type="submit" [disabled]="!profileForm.valid">Submit</button>
			<button (click)="onUpdateProfile()">AutoFill</button>
		</div>

		<label class="info">
			Form Status: {{ profileForm.status }}
		</label>

	</form>

</div>